* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  background: #fff;
  border: 3px solid #02294d;
  border-top: 3px solid #02294d;
  border-bottom: 3px solid #02294d;
  color: #02294d;
  height: 40px;
  cursor: pointer;
  padding: 4px 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 30px;
  margin-top: 20px;
  font-size: .90rem; }
  .button:hover {
    background: #02294d;
    color: #fff; }
  @media only screen and (min-width: 960px) {
    .button {
      left: auto;
      right: 30px; } }

.post {
  float: left;
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .post:last-child {
    margin-right: 0; }
  .post .post-image {
    float: left;
    max-height: 325px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .post .post-image:last-child {
      margin-right: 0; }
    .post .post-image img {
      width: 100%; }
  .post .post-text {
    float: left;
    padding: 30px;
    height: 271px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #fff; }
    .post .post-text:last-child {
      margin-right: 0; }
  .post h2 {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .post p.post-date {
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    color: #7db2e6;
    font-family: "Bebas Neue", sans-serif; }
  .post a {
    color: #c6c6c6;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    text-align: center; }
  .post a.post-comments {
    border-right: none; }
  .post p.post-intro {
    font-size: 1rem;
    line-height: 1.6rem;
    clear: both;
    padding-top: 10px;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 110px; }
  @media only screen and (min-width: 500px) {
    .post {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      max-height: 575px; }
      .post:last-child {
        margin-right: 0; }
      .post h2, .post p.post-date {
        font-size: 1.8rem; }
      .post .post-image {
        max-height: 325px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .post .post-image:last-child {
          margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .post .post-image {
      max-height: 325px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .post .post-image:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .post {
      max-height: 275px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .post:last-child {
        margin-right: 0; }
      .post .post-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        float: left;
        padding: 30px;
        height: 275px;
        background-color: #fff; }
        .post .post-text:last-child {
          margin-right: 0; }
      .post .post-image {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0px; }
        .post .post-image:last-child {
          margin-right: 0; }
        .post .post-image img {
          height: 275px;
          width: auto; } }

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 10%;
  font-family: "Bebas Neue", sans-serif;
  color: #02294d;
  background-color: white; }

body, html {
  /* important */
  height: 100%;
  background-color: #f8f8f8; }

a {
  color: #c6c6c6;
  text-decoration: none;
  font-family: "Georgia", sans-serif; }

p {
  font-family: "Georgia", sans-serif; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.cd-container-columns {
  width: 100%;
  margin: 0 auto; }

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  clear: both;
  height: 45px;
  background: #02294d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  .cd-header:after {
    content: "";
    display: table;
    clear: both; }
  .cd-header .cd-logo {
    float: left;
    margin: 0px 0 0 3%; }
    .cd-header .cd-logo img {
      max-height: 45px; }
  @media only screen and (min-width: 500px) {
    .cd-header {
      height: 45px; }
      .cd-header .cd-logo img {
        max-height: 45px; } }
  @media only screen and (min-width: 768px) {
    .cd-header {
      height: 70px; }
      .cd-header .cd-logo img {
        max-height: 70px; } }
  @media only screen and (min-width: 960px) {
    .cd-header {
      height: 100px; }
      .cd-header .cd-logo {
        margin: 0px 0 0 2%;
        position: relative;
        top: 15px; }
      .cd-header img {
        max-height: 100px; } }

.cd-main-nav {
  background-size: 36px 36px;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
  background: url("../images/cd-icon-menu.svg") no-repeat right top; }
  .cd-main-nav ul {
    width: 100%;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
    background-color: #02294d; }
    .cd-main-nav ul.is-visible {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      position: relative;
      top: 45px;
      z-index: 1;
      padding-top: -40px; }
  .cd-main-nav a {
    line-height: normal;
    height: 45px;
    line-height: 45px;
    font-family: "Bebas Neue", sans-serif;
    background: transparent;
    padding: .6em;
    border-top: 1px solid #02294d;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem; }
    .no-touch .cd-main-nav a:hover {
      color: #7db2e6; }
  .cd-main-nav img {
    margin-right: 15px; }
  .cd-main-nav li {
    display: block;
    position: relative;
    margin: 0 1em;
    width: 100%;
    background-color: #02294d; }
  .cd-main-nav input {
    padding: 8px 0px;
    background: #011c34;
    background-image: url("/images/search.svg");
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    min-width: 350px;
    padding-left: 25px;
    width: 97%;
    font-size: 13px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: left center;
    outline: none; }
  .cd-main-nav input:focus {
    box-shadow: 0 0 5px #03437f;
    padding: 8px 0px 8px 0px;
    border: 2px solid #03437f;
    padding-left: 25px;
    padding-right: 5px; }
  @media only screen and (min-width: 500px) {
    .cd-main-nav {
      cursor: auto;
      clear: none; }
      .cd-main-nav ul {
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transform: translateY(-200%);
        line-height: 45px;
        position: relative; }
        .cd-main-nav ul.is-visible {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%); }
      .cd-main-nav input {
        width: 97%; } }
  @media only screen and (min-width: 768px) {
    .cd-main-nav {
      background: none;
      width: auto;
      float: right;
      position: relative; }
      .cd-main-nav ul {
        width: auto;
        margin-top: 0px;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        line-height: 70px;
        position: relative;
        top: 0px; }
        .cd-main-nav ul.is-visible {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%);
          margin-top: 0px; }
        .cd-main-nav ul li {
          display: inline-block;
          margin-left: 1em;
          width: auto; }
        .cd-main-nav ul a {
          font-size: 0px; } }
  @media only screen and (min-width: 960px) {
    .cd-main-nav ul {
      line-height: 100px; } }

.container {
  position: relative;
  margin: 0px auto;
  top: 50px;
  padding: 0% 2%;
  background-color: #00f;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .container {
      top: 80px; } }
  @media only screen and (min-width: 960px) {
    .container {
      top: 130px; } }

.post-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: left; }
  .post-container:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 500px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .post-container:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .post-container:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .post-container:last-child {
        margin-right: 0; } }

.archive {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: left;
  margin: 15px 0px; }
  .archive:last-child {
    margin-right: 0; }
  .archive h2 {
    font-size: 1.8rem;
    font-weight: bold; }
  .archive ul {
    margin-bottom: 25px; }
  .archive li {
    font-size: .9rem;
    line-height: 2.5rem; }
  .archive a {
    color: #474747; }
  @media only screen and (min-width: 500px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .archive:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .archive:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .archive:last-child {
        margin-right: 0; } }
