@charset "UTF-8";
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
.button {
  background: #fff;
  border: 3px solid #02294d;
  border-top: 3px solid #02294d;
  border-bottom: 3px solid #02294d;
  color: #02294d;
  cursor: pointer;
  padding: 5px 20px 6px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 15px;
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200; }
  .button:hover {
    background: #02294d;
    color: #fff; }
  @media only screen and (min-width: 960px) {
    .button {
      left: auto;
      right: 30px; } }

.post-button {
  background: #fff;
  border-radius: 4px;
  border: 3px solid #293e51;
  border-top: 3px solid #293e51;
  border-bottom: 3px solid #293e51;
  color: #fff;
  cursor: pointer;
  padding: 5px 30px 4px;
  text-transform: uppercase;
  font-weight: bold;
  position: static;
  right: 0px;
  font-size: 1.3rem;
  line-height: 30px;
  background: #293e51;
  font-family: "Bebas Neue", sans-serif; }
  .post-button:hover {
    background: #02294d;
    color: #fff;
    -webkit-box-shadow: -3px 0px 6px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: -3px 0px 6px 0px rgba(50, 50, 50, 0.4);
    box-shadow: -3px 0px 6px 0px rgba(50, 50, 50, 0.4); }
  @media only screen and (min-width: 500px) {
    .post-button {
      left: auto; } }
  @media only screen and (min-width: 960px) {
    .post-button {
      left: auto;
      color: #fff;
      cursor: pointer;
      padding: 6px 30px 3px;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      right: 10px;
      margin-top: 40px; } }

.post {
  float: left;
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .post:last-child {
    margin-right: 0; }
  .post .post-image {
    float: left;
    max-height: 325px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .post .post-image:last-child {
      margin-right: 0; }
    .post .post-image img {
      width: 100%; }
  .post .post-text {
    float: left;
    padding: 15px;
    height: 271px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #fff; }
    .post .post-text:last-child {
      margin-right: 0; }
  .post h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #02294d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200; }
  .post p.post-date {
    font-size: 1.7rem;
    font-weight: bold;
    color: #7db2e6;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    float: left;
    margin-right: 5px; }
  .post a.post-author, .post a.post-tags, .post a.post-comments {
    color: #c6c6c6;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    font-family: "Georgia", sans-serif;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-right: 10px; }
  .post a.post-comments {
    border-right: none; }
  .post p.post-intro {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    clear: both;
    padding-top: 10px;
    max-height: 110px; }
  @media only screen and (min-width: 500px) {
    .post {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      max-height: 575px; }
      .post:last-child {
        margin-right: 0; }
      .post h2, .post p.post-date {
        font-size: 1.8rem; }
      .post .post-image {
        max-height: 325px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .post .post-image:last-child {
          margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .post .post-image {
      max-height: 325px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .post .post-image:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .post {
      max-height: 275px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .post:last-child {
        margin-right: 0; }
      .post .post-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        float: left;
        padding: 30px;
        height: 275px;
        background-color: #fff; }
        .post .post-text:last-child {
          margin-right: 0; }
      .post .post-image {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0px; }
        .post .post-image:last-child {
          margin-right: 0; }
        .post .post-image img {
          height: 275px;
          width: auto; } }

.post-audio {
  float: left;
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .post-audio:last-child {
    margin-right: 0; }
  .post-audio .post-intro {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    clear: both;
    padding-top: 10px;
    height: 100%; }
  .post-audio .post-text {
    float: left;
    padding: 15px;
    height: 275px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #fff; }
    .post-audio .post-text:last-child {
      margin-right: 0; }
  .post-audio h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #02294d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200; }
  .post-audio p.post-date {
    font-size: 1.7rem;
    font-weight: bold;
    color: #7db2e6;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    float: left;
    margin-right: 5px; }
  .post-audio a.post-author, .post-audio a.post-tags, .post-audio a.post-comments {
    color: #c6c6c6;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    font-family: "Georgia", sans-serif;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-right: 10px; }
  .post-audio a.post-comments {
    border-right: none; }
  .post-audio p.post-intro {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    clear: both;
    padding-top: 10px;
    max-height: 110px; }
  @media only screen and (min-width: 500px) {
    .post-audio {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      max-height: 575px; }
      .post-audio:last-child {
        margin-right: 0; }
      .post-audio h2, .post-audio p.post-date {
        font-size: 1.8rem; } }
  @media only screen and (min-width: 960px) {
    .post-audio {
      max-height: 375px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .post-audio:last-child {
        margin-right: 0; }
      .post-audio .post-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        float: left;
        padding: 30px;
        height: 275px;
        background-color: #fff; }
        .post-audio .post-text:last-child {
          margin-right: 0; } }

.text-post {
  float: left;
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .text-post:last-child {
    margin-right: 0; }
  .text-post .text-post-text {
    float: left;
    height: auto;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8em;
    font-family: "Georgia", sans-serif;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 20px;
    background-color: #60656a; }
    .text-post .text-post-text:last-child {
      margin-right: 0; }
    .text-post .text-post-text .text-post-title {
      position: relative; }
      .text-post .text-post-text .text-post-title img {
        vertical-align: bottom;
        padding: 10px;
        margin-right: -20px; }
      .text-post .text-post-text .text-post-title img.rotate {
        vertical-align: top;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: -20px;
        margin-right: 0px; }
  .text-post .post-text {
    float: left;
    padding: 15px;
    height: 271px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #ffffff; }
    .text-post .post-text:last-child {
      margin-right: 0; }
  .text-post h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #02294d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200; }
  .text-post p.post-date {
    font-size: 1.7rem;
    font-weight: bold;
    color: #7db2e6;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    float: left;
    margin-right: 5px; }
  .text-post a.post-author, .text-post a.post-tags, .text-post a.post-comments {
    color: #c6c6c6;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    font-family: "Georgia", sans-serif;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-right: 10px; }
  .text-post a.post-comments {
    border-right: none; }
  .text-post p.post-intro {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    clear: both;
    padding-top: 10px;
    max-height: 110px; }
  @media only screen and (min-width: 500px) {
    .text-post {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      max-height: 575px; }
      .text-post:last-child {
        margin-right: 0; }
      .text-post h2, .text-post p.post-date {
        font-size: 1.8rem; }
      .text-post .text-post-text {
        max-height: 325px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 10px; }
        .text-post .text-post-text:last-child {
          margin-right: 0; }
      .text-post .text-post-title {
        position: relative;
        top: 5%; } }
  @media only screen and (min-width: 768px) {
    .text-post .text-post-text {
      max-height: 270px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .text-post .text-post-text:last-child {
        margin-right: 0; }
    .text-post .post-text {
      max-height: 271px; }
    .text-post .text-post-title {
      position: relative;
      top: 5%;
      font-size: 1.7rem; } }
  @media only screen and (min-width: 960px) {
    .text-post {
      max-height: 275px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .text-post:last-child {
        margin-right: 0; }
      .text-post .post-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        float: left;
        padding: 30px;
        height: 275px;
        background-color: #fff; }
        .text-post .post-text:last-child {
          margin-right: 0; }
      .text-post .text-post-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0px;
        height: 275px;
        overflow-y: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        padding: 20px;
        font-size: 2rem; }
        .text-post .text-post-text:last-child {
          margin-right: 0; } }

.post-full {
  float: left;
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 0%; }
  .post-full:last-child {
    margin-right: 0; }
  .post-full .post-image {
    float: left;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    max-height: 420px; }
    .post-full .post-image:last-child {
      margin-right: 0; }
    .post-full .post-image img {
      width: 100%; }
  .post-full .text-post-text {
    float: left;
    height: auto;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8em;
    font-family: "Georgia", sans-serif;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 15px;
    background-color: #60656a; }
    .post-full .text-post-text:last-child {
      margin-right: 0; }
    .post-full .text-post-text .text-post-title {
      position: relative; }
      .post-full .text-post-text .text-post-title img {
        vertical-align: bottom;
        padding: 10px;
        margin-right: -20px; }
      .post-full .text-post-text .text-post-title img.rotate {
        vertical-align: top;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: -20px;
        margin-right: 0px; }
  .post-full .post-text {
    padding: 15px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: #fff; }
    .post-full .post-text:last-child {
      margin-right: 0; }
  .post-full h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #02294d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200; }
  .post-full h4 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #02294d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
    color: #bfbfbf; }
  .post-full p.post-date {
    font-size: 1.7rem;
    font-weight: bold;
    color: #7db2e6;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    float: left;
    margin-right: 5px; }
  .post-full a.post-author, .post-full a.post-tags, .post-full a.post-comments {
    color: #c6c6c6;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    font-family: "Georgia", sans-serif;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding-right: 10px; }
  .post-full a.post-comments {
    border-right: none; }
  .post-full p.post-text-content {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #474747;
    overflow-y: hidden;
    text-overflow: ellipsis;
    clear: both;
    padding-top: 10px; }
  .post-full p.about-author-text {
    font-size: .9rem;
    line-height: 1.6rem;
    margin: 10px auto;
    color: #bfbfbf;
    border: none;
    float: left;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .post-full p.about-author-text:last-child {
      margin-right: 0; }
  .post-full .post-tags-bottom {
    color: #c6c6c6;
    font-size: .7rem;
    line-height: 1.4em;
    border-right: 1px solid #c6c6c6;
    font-family: "Georgia", sans-serif;
    font-weight: bold;
    border: none;
    float: left;
    margin: 20px 5px 20px 0px; }
  .post-full .list-tags-bottom {
    margin: 20px 0px 20px 20px; }
    .post-full .list-tags-bottom li {
      color: #c6c6c6;
      font-size: .7rem;
      line-height: 1.4em;
      border-right: 1px solid #c6c6c6;
      font-family: "Georgia", sans-serif;
      display: inline;
      border: none; }
    .post-full .list-tags-bottom li:after {
      content: ", "; }
    .post-full .list-tags-bottom li:last-child:after {
      content: ""; }
  .post-full .button {
    display: none; }
  @media only screen and (min-width: 500px) {
    .post-full {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .post-full:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .post-full {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 8.5298%; }
      .post-full:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .post-full {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .post-full:last-child {
        margin-right: 0; } }

.comments.author {
  float: left;
  position: relative;
  margin: 5px 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 0%;
  padding: 0px 10px; }
  .comments.author:last-child {
    margin-right: 0; }
  .comments.author p.author-text {
    font-size: .9rem;
    line-height: 1.6rem;
    color: #9f9f9f;
    clear: both;
    padding-bottom: 0px; }
  .comments.author textarea {
    border: none;
    border-radius: 4px;
    background-color: #eeeeee;
    padding: 10px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 10px; }
    .comments.author textarea:last-child {
      margin-right: 0; }
  .comments.author textarea:focus {
    outline: none;
    -moz-box-shadow: inset 0 0 4px #aaaaaa;
    -webkit-box-shadow: inset 0 0 4px #aaaaaa;
    box-shadow: inset 0 0 4px #aaaaaa;
    color: #02294d; }
  .comments.author h2 {
    margin-left: 0px; }
  .comments.author h3 {
    margin: 20px 0 0 0; }
  .comments.author p.post-full-date {
    display: none; }
  @media only screen and (min-width: 500px) {
    .comments.author {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .comments.author:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .comments.author {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 8.5298%; }
      .comments.author:last-child {
        margin-right: 0; }
      .comments.author p.author-text {
        padding-bottom: 10px; }
      .comments.author p.post-full-date {
        color: #c6c6c6;
        font-size: .7rem;
        line-height: 1.4em;
        border-right: 1px solid #c6c6c6;
        font-family: "Georgia", sans-serif;
        border: none;
        color: #bfbfbf;
        margin-bottom: 10px;
        display: block; } }
  @media only screen and (min-width: 960px) {
    .comments.author {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .comments.author:last-child {
        margin-right: 0; } }

/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'BebasNeueThin';
  src: url("../fonts/bebasneue-thin.eot");
  src: url("../fonts/bebasneue-thin.eot") format("embedded-opentype"), url("../fonts/bebasneue-thin.woff") format("woff"), url("../fonts/bebasneue-thin.ttf") format("truetype"), url("../fonts/bebasneue-thin.svg#BebasNeueThin") format("svg");
  font-style: normal;
  font-weight: normal; }
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 10%;
  font-family: "Bebas Neue", sans-serif;
  color: #02294d; }

body, html {
  /* important */
  height: 100%;
  background-color: #f8f8f8; }

a {
  color: #c6c6c6;
  text-decoration: none;
  font-family: "Georgia", sans-serif; }

p {
  font-family: "Georgia", sans-serif; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.cd-container-columns {
  width: 100%;
  margin: 0 auto; }

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  clear: both;
  height: 45px;
  background: #02294d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  .cd-header:after {
    content: "";
    display: table;
    clear: both; }
  .cd-header .cd-logo {
    float: left;
    margin: 0px 0 0 3%; }
    .cd-header .cd-logo img {
      max-height: 45px; }
  @media only screen and (min-width: 500px) {
    .cd-header {
      height: 45px; }
      .cd-header .cd-logo img {
        max-height: 45px; } }
  @media only screen and (min-width: 768px) {
    .cd-header {
      height: 70px; }
      .cd-header .cd-logo img {
        max-height: 70px; } }
  @media only screen and (min-width: 960px) {
    .cd-header {
      height: 100px; }
      .cd-header .cd-logo {
        margin: 0px 0 0 2%;
        position: relative;
        top: 15px; }
      .cd-header img {
        max-height: 100px; } }

.highest-of-highs {
  z-index: 999; }

.cd-main-nav {
  background-size: 36px 36px;
  cursor: pointer;
  width: 100%;
  position: absolute;
  height: 45px;
  top: 0px;
  z-index: 1;
  background: url("../images/cd-icon-menu.svg") no-repeat right top; }
  .cd-main-nav ul {
    width: 100%;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
    background-color: #02294d; }
    .cd-main-nav ul.is-visible {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      position: relative;
      top: 45px;
      z-index: 999;
      padding-top: -40px; }
  .cd-main-nav a {
    line-height: normal;
    height: 45px;
    line-height: 45px;
    font-family: "Bebas Neue", sans-serif;
    background: transparent;
    padding: .6em;
    border-top: 1px solid #02294d;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem; }
    .no-touch .cd-main-nav a:hover {
      color: #7db2e6; }
  .cd-main-nav img {
    margin-right: 15px; }
  .cd-main-nav li {
    display: block;
    position: relative;
    margin: 0 1em;
    width: 100%;
    background-color: #02294d; }
  .cd-main-nav input {
    padding: 8px 0px;
    background: #011c34;
    background-image: url("/images/search.svg");
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    min-width: 350px;
    padding-left: 25px;
    width: 97%;
    font-size: 13px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: left center;
    outline: none;
    z-index: 1000; }
  .cd-main-nav input:focus {
    box-shadow: 0 0 5px #03437f;
    padding: 8px 0px 8px 0px;
    border: 2px solid #03437f;
    padding-left: 25px;
    padding-right: 5px; }
  @media only screen and (min-width: 500px) {
    .cd-main-nav {
      cursor: auto;
      clear: none; }
      .cd-main-nav ul {
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transform: translateY(-200%);
        line-height: 45px;
        position: relative; }
        .cd-main-nav ul.is-visible {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%); }
      .cd-main-nav input {
        width: 97%; } }
  @media only screen and (min-width: 768px) {
    .cd-main-nav {
      background: none;
      width: auto;
      float: right;
      position: relative; }
      .cd-main-nav ul {
        width: auto;
        margin-top: 0px;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        line-height: 70px;
        position: relative;
        top: 0px; }
        .cd-main-nav ul.is-visible {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%);
          margin-top: 0px; }
        .cd-main-nav ul li {
          display: inline-block;
          margin-left: 1em;
          width: auto; }
        .cd-main-nav ul a {
          font-size: 0px; } }
  @media only screen and (min-width: 960px) {
    .cd-main-nav ul {
      line-height: 100px; } }

.container {
  position: relative;
  margin: 0px auto;
  top: 50px;
  padding: 0% 2%;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .container {
      top: 80px; } }
  @media only screen and (min-width: 960px) {
    .container {
      top: 130px; } }
  .container .page-title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 200;
    background-color: #f8f8f8;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .container .page-title:last-child {
      margin-right: 0; }
  .container .post-page-title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 200;
    background-color: #f8f8f8;
    margin-left: 0%; }
  @media only screen and (min-width: 768px) {
    .container .post-page-title {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 200;
      background-color: #f8f8f8;
      margin-left: 7.2%; } }

.post-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: left; }
  .post-container:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 500px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .post-container:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 768px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .post-container:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .post-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .post-container:last-child {
        margin-right: 0; } }

.archive {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: left;
  margin: 15px 0px; }
  .archive:last-child {
    margin-right: 0; }
  .archive h2 {
    font-size: 1.8rem;
    font-weight: 200; }
  .archive ul {
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
    margin: 15px 0px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    background-color: #fff; }
  .archive li {
    font-size: .9rem;
    line-height: 2.5rem; }
  .archive a {
    color: #474747; }
  .archive a:hover {
    color: black;
    text-shadow: 2px 2px 2px #ddd; }
  @media only screen and (min-width: 500px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .archive:last-child {
        margin-right: 0; }
      .archive ul {
        padding: 0px;
        margin: 0 0 30px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #f8f8f8; } }
  @media only screen and (min-width: 768px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .archive:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 960px) {
    .archive {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .archive:last-child {
        margin-right: 0; } }

.archive-full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: left;
  margin: 15px 0px; }
  .archive-full:last-child {
    margin-right: 0; }
  .archive-full h2 {
    font-size: 1.8rem;
    font-weight: 200; }
  .archive-full ul {
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
    margin: 15px 0px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    background-color: #fff; }
  .archive-full li {
    font-size: .9rem;
    line-height: 2.5rem; }
  .archive-full a {
    color: #474747; }
  @media only screen and (min-width: 500px) {
    .archive-full {
      display: none; } }
