@import 'bourbon'; // http://bourbon.io/

@import "neat/neat"; // neat grid for bourbon

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/buttons'; // style mi buttons yarh

@import '../partials/post'; // style mi buttons yarh

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 10%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
}

body, html {
	/* important */
	height: 100%;
	background-color: #f8f8f8;
}

a {
	color: $color-3;
	text-decoration: none;
	font-family: $secondary-font;
}

p {
	font-family: $secondary-font;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.cd-container-columns {
	width: 100%;
	margin: 0 auto;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	clear: both;
	height: $header-height-S;
	background: $color-1;
	box-shadow: 0 1px 2px rgba(#000, .2);
	z-index: index($main-elements, navigation); // see partials > _variables.scss
	@include clearfix;

	.cd-logo {
		float: left;
		margin: 0px 0 0 3%;

		img {
			max-height: $header-height-ES;
		}
	}

	@include MQ(S) {
		height: $header-height-S;

		.cd-logo {
			img {
				max-height: $header-height-S;
			}
		}
	}

	@include MQ(M) {
		height: $header-height-M;

		.cd-logo {
			img {
				max-height: $header-height-M;
			}
		}
	}

	@include MQ(L) {
		height: $header-height-L;

		.cd-logo {
			margin: 0px 0 0 2%;
			position: relative;
			top: 15px;			
		}

		img {
			max-height: $header-height-L;
		}
	}	
}

.cd-main-nav {
	background-size: 36px 36px;
	cursor: pointer;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 1;
	background: url('../images/cd-icon-menu.svg') no-repeat right top;

	ul {
		width: 100%;
		@include transform(translateY(-200%));
		background-color: $color-1;

		&.is-visible {
			@include transform(translateY(0%));
			position: relative;
			top: 45px;
			z-index: 1;
			padding-top: -40px;
		}
	}
	a {
		line-height: normal;
		height: $header-height-S;
		line-height: $header-height-S;
		font-family: $primary-font;
		background: transparent;
		padding: .6em;
		border-top: 1px solid $color-1;
		color: #ffffff;
		font-weight: bold;
		@include font-size(14px);

		.no-touch &:hover {
			color: $color-2;
		}
	}

	img {
		margin-right: 15px;
	}

	li {
		display: block;
		position: relative;
		margin: 0 1em;
		width: 100%;
		background-color: $color-1;
	}

	input {
	    padding: 8px 0px;
	    background: darken($color-1, 5%);
	    background-image:url('/images/search.svg');
	    border: none;
	    margin-top: 10px;
	    border-radius: 2px;
	    min-width: 350px;
	    padding-left:25px;
	    width: 97%;
		font-size:13px;
		color:#ffffff;
		background-repeat:no-repeat;
		background-position:left center;
	  	outline: none;
	}

	input:focus { 
	    box-shadow: 0 0 5px lighten($color-1, 10%);
	  	padding: 8px 0px 8px 0px;
	  	border: 2px solid lighten($color-1, 10%);
	  	padding-left:25px;
	  	padding-right:5px;
	}

	@include MQ(S) {
		cursor: auto;
		clear: none;

		ul {
			@include transform(translateY(-200%));
			line-height: $header-height-S;
			position: relative;
			

			&.is-visible {
				@include transform(translateY(0%));
			}
		}

		input {
		    width:97%;
		}
	}
	@include MQ(M) {
		background: none;
		width: auto;
		float: right;
		position: relative;

		ul {
			width: auto;
			margin-top: 0px;
			@include transform(translateY(0%));
			line-height: $header-height-M;
			position: relative;
			top: 0px;

			&.is-visible {
				@include transform(translateY(0%));
				margin-top: 0px;
			}

		li {
			display: inline-block;
			margin-left: 1em;
			width: auto;
			}
		a {
			font-size: 0px;
			}
		}
	}
	@include MQ(L) {
		ul {
			line-height: $header-height-L;
		}
	}

}
  



.container {
	position: relative;
	margin: 0px auto;
	top: 50px;
	padding: 0% 2%;
	width: 100%;

	@include MQ(M) {
		top: 80px;
	}

	@include MQ(L) {
		top: 130px;
	}

	.page-title {
		font-size: 2rem;
		line-height: 3rem;
		font-weight: bold;
		background-color: #f8f8f8;
		@include span-columns(12);
	}

	.post-page-title {
		font-size: 2rem;
		line-height: 3rem;
		font-weight: bold;
		background-color: #f8f8f8;
		margin-left: 0%;
	}

	@include MQ(S) {
		
	}

	@include MQ(M) {
		.post-page-title {
			font-size: 2rem;
			line-height: 3rem;
			font-weight: bold;
			background-color: #f8f8f8;
			margin-left: 7.2%;
		}
	}

 	@include MQ(L) {
 		
	}
}



.post-container {
	@include span-columns(12);
	float: left;

	@include MQ(S) {
		@include span-columns(9);
	}

	@include MQ(M) {
		@include span-columns(9);
	}

 	@include MQ(L) {
 		@include span-columns(10);
	}
}

.archive {
	@include span-columns(12);
	float: left;
	margin: 15px 0px;

	h2 {
 		font-size: 1.8rem;
 		font-weight: bold;
 	}

 	ul {
 	margin-bottom: 25px;
 	}

 	li {
 		font-size: .9rem;
 		line-height: 2.5rem;
 	} 

 	a {
 		color: darken($color-3, 50%);
 	}

 	@include MQ(S) {
		@include span-columns(3);
	}

	@include MQ(M) {
		@include span-columns(3);
	}

 	@include MQ(L) {
 		@include span-columns(2);
	}
}

.archive-full {
	@include span-columns(12);
	float: left;
	margin: 15px 0px;

	h2 {
 		font-size: 1.8rem;
 		font-weight: bold;
 	}

 	ul {
 	margin-bottom: 25px;
 	position: relative;
 	padding: 20px;
	margin: 15px 0px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
 	}

 	li {
 		font-size: .9rem;
 		line-height: 2.5rem;
 	} 

 	a {
 		color: darken($color-3, 50%);
 	}

 	@include MQ(S) {
		display: none;
	}

}
