@import 'bourbon'; // http://bourbon.io/

@import "neat/neat"; // neat grid for bourbon

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/buttons'; // style mi buttons yarh

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 10%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	/* important */
	height: 100%;
	background-color: #f8f8f8;
}

a {
	color: $color-3;
	text-decoration: none;
	font-family: $secondary-font;
}

p {
	font-family: $secondary-font;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.cd-container-columns {
	width: 100%;
	margin: 0 auto;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-S;
	background: $color-1;
	box-shadow: 0 1px 2px rgba(#000, .2);
	z-index: index($main-elements, navigation); // see partials > _variables.scss
	@include clearfix;

	.cd-logo {
		float: left;
		margin: 0px 0 0 5%;

		img {
			display: block;
		}
	}
	@include MQ(S) {
		height: $header-height-S;

		img {
			max-height: $header-height-S;
		}
	}

	@include MQ(M) {
		height: $header-height-M;

		img {
			max-height: $header-height-M;
		}
	}

	@include MQ(L) {
		height: $header-height-L;

		.cd-logo {
			margin: 0px 0 0 5%;
			position: relative;
			top: 15px;
		}

		img {
			max-height: $header-height-L;
		}
	}	
}

.cd-main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background-size: 36px 36px;
	cursor: pointer;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include transform(translateY(0%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: darken($color-1, 5%);
		border-top: 1px solid lighten($color-1, 3%);
		color: #fffff;
	}

	input {
	    padding: 8px 0px;
	    background: darken($color-1, 5%);
	    background-image:url('/images/search.svg');
	    border: none;
	    border-radius: 2px;
	    width: 250px;
	    padding-left:25px;
	    width:300px;
		font-size:13px;color:#ffffff;
		background-repeat:no-repeat;
		background-position:left center;
	  	outline: none;
	}

	input:focus { 
	    box-shadow: 0 0 5px lighten($color-1, 10%);
	  	padding: 8px 0px 8px 0px;
	  	margin: 5px 1px 3px 0px;
	  	border: 2px solid lighten($color-1, 10%);
	  	padding-left:25px;
	  	padding-right:5px;
	}

	@include MQ(S) {
		width: auto;
		height: auto;
		background: url('../images/cd-icon-menu.svg') no-repeat right top;
		cursor: auto;

		ul {
			position: relative;
			width: auto;
			@include transform(translateY(-100%));
			line-height: $header-height-S;

			&.is-visible {
				@include transform(translateY(0));
				margin-top: 42px;
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;
			width: 100%;
		}

		a {
			display: block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: 1px solide $color-1;
			color: $color-1;
			font-weight: bold;
			@include font-size(14px);

			.no-touch &:hover {
				color: $color-2;
			}
		}
	}
	@include MQ(M) {
		background: none;

		ul {
			position: static;
			width: auto;
			margin-top: 0px;
			@include transform(translateY(0%));
			line-height: $header-height-M;

			&.is-visible {
				@include transform(translateY(0));
				margin-top: 0px;
			}

		li {
			display: inline-block;
			margin-left: 1em;
			width: auto;
			}
		a {
			display: block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: none;
			color: #ffffff;
			font-weight: bold;
			@include font-size(14px);
			}
		}
	}
	@include MQ(L) {
		ul {
			line-height: $header-height-L;
		}
	}

}
  



.container {
	@include span-columns(12);
	position: relative;
	margin: 0px auto;
	top: 130px;
	padding: 0% 2%;
}

.post-container {
	@include span-columns(9);
	float: left;
}

.archive {
	@include span-columns(3);
	float: left;
	margin: 15px 0px;

	h2 {
 		font-size: 2rem;

 	}

 	ul {
 	margin-bottom: 25px;
 	}

 	li {
 		font-size: .9rem;
 		line-height: 2.5rem;
 	} 

 	a {
 		color: darken($color-3, 50%);
 	}
}

.post {
 	float: left;
 	position: relative;
 	max-height: 271px;
 	margin: 15px 0px;
 	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	width: 100%;
	background-color: #fff;

 	.post-image {
 		float: left;
 		width:40%;
 	}

 	.post-text {
 		float: left;
 		padding: 35px;
 		height: 271px;
 		width: 60%;
 		background-color: #fff;
 	}

 	h2 {
 		font-size: 2rem;
 	}

 	p.post-date {
 		font-size: 2rem;
 		float: left;
 		margin-right: 5px;
 		color: $color-2;
 		font-family: $primary-font;
 	}

 	a {
 		color: $color-3;
 		float: left;
 		margin-right: 10px;
 		padding-right: 10px;
 		font-size: .7rem;
 		line-height: 1.4em;
 		border-right: 1px solid $color-3;
 		text-align: center;
 	}

 	a.post-comments {
 		border-right: none;
 	}
 	p.post-intro {
 		font-size: 1rem;
 		line-height: 1.3rem;
 		max-height: 110px;
 		clear: both;
 		padding-top: 10px;
 		color: darken($color-3, 50%);
 		overflow: hidden;
 		text-overflow: ellipsis;
 	}
}


