// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin border-radius(){
  @include border-radius(3px);
  @include box-shadow(white 0 1px 0 inset, rgba(black, 0.1) 0 1px 0 0);
}

@mixin header-font {
  font-size: 1.7rem;
  font-weight: bold;
  color: $color-1;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin post-link {
  color: $color-3;
  font-size: .7rem;
  line-height: 1.4em;
  border-right: 1px solid $color-3;
  font-family: $secondary-font;
}

@mixin text-post-text {
  color: $color-4;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8em;
  font-family: $secondary-font;
}

@mixin post-text {
    font-size: 1rem;
    line-height: 1.6rem;
    color: darken($color-3, 50%);
    overflow-y: hidden;
    text-overflow: ellipsis;
}

@mixin about-author-text {
    font-size: .9rem;
    line-height: 1.6rem;
    margin: 10px auto;
}

@mixin author-text {
    font-size: .9rem;
    line-height: 1.6rem;
    color: #9f9f9f;
}

@mixin post-date {
  font-size: 1.7rem;
    font-weight: bold;
    color: $color-2;
    font-family: $primary-font;
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}


