.post {
 	float: left;
 	position: relative;
 	margin: 15px 0px;
 	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	background-color: #fff;
	@include span-columns(12);

 	.post-image {
 		float: left;
 		max-height: 325px;
 		@include span-columns(12);

 		img {
 			@include fill-parent;
 		}
 	}

 	.post-text {
 		float: left;
 		padding: 15px;
 		height: 271px;
 		@include span-columns(12);
 		background-color: #fff;
 	}

 	h2 {
 		@include header-font;
 	}

 	p.post-date {
 		@include post-date;
 		float: left;
 		margin-right: 5px;
 	}

 	a.post-author, a.post-tags, a.post-comments {
 		@include post-link;
 		text-align: center;
	  	float: left;
	  	margin-right: 10px;
	  	padding-right: 10px;
 	}

 	a.post-comments {
 		border-right: none;
 	}

 	p.post-intro {
 		@include post-text;
 		clear: both;
 		padding-top: 10px;
 		max-height: 110px;
 	}

 	@include MQ(S) {
 		@include span-columns(12);
 		max-height: 575px;

 		h2, p.post-date {
 			font-size: 1.8rem;
 		}

 		.post-image {
 			max-height: 325px;
 			@include span-columns(12);
 		}
		
	}

	@include MQ(M) {
 		.post-image {
 			max-height: 325px;
 			@include span-columns(12);
 		}
		
	}

 	@include MQ(L) {
		max-height: 275px;
		@include span-columns(11);

		.post-text {
			@include span-columns(8);
			float: left;
	 		padding: 30px;
	 		height: 275px;
	 		background-color: #fff;
 			}

		 .post-image {
 			@include span-columns(4);
 			margin-right: 0px;

 			img {
 			height: 275px;
 			width: auto;
 			}
 		}
	}
}

.post-audio {
 	float: left;
 	position: relative;
 	margin: 15px 0px;
 	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	background-color: #fff;
	@include span-columns(12);

	.post-intro {
 		@include post-text;
 		clear: both;
 		padding-top: 10px;
 		height: 100%;
 	}

 	.post-text {
 		float: left;
 		padding: 15px;
 		height: 275px;
 		@include span-columns(12);
 		background-color: #fff;
 	}

 	h2 {
 		@include header-font;
 	}

 	p.post-date {
 		@include post-date;
 		float: left;
 		margin-right: 5px;
 	}

 	a.post-author, a.post-tags, a.post-comments {
 		@include post-link;
 		text-align: center;
	  	float: left;
	  	margin-right: 10px;
	  	padding-right: 10px;
 	}

 	a.post-comments {
 		border-right: none;
 	}

 	p.post-intro {
 		@include post-text;
 		clear: both;
 		padding-top: 10px;
 		max-height: 110px;
 	}

	@include MQ(S) {
 		@include span-columns(12);
 		max-height: 575px;

 		h2, p.post-date {
 			font-size: 1.8rem;
 		}
		
	}

	@include MQ(M) {

		
	}

 	@include MQ(L) {
		max-height: 375px;
		@include span-columns(11);

		.post-text {
			@include span-columns(12);
			float: left;
	 		padding: 30px;
	 		height: 275px;
	 		background-color: #fff;
 			}
 		}
}

.text-post {
 	float: left;
 	position: relative;
 	margin: 15px 0px;
 	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	background-color: #fff;
	@include span-columns(12);

 	.text-post-text {
 		float: left;
 		height: auto;
 		@include text-post-text;
 		@include span-columns(12);
 		padding: 20px;
 		background-color: $color-5;

 		.text-post-title {
 			position: relative;

 			img {
 				vertical-align: bottom;
 				padding: 10px;
 				margin-right: -20px;
 			}

 			img.rotate {
 				vertical-align: top;
 				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				margin-left: -20px;
				margin-right: 0px;
 			}
 		}
 	}

 	.post-text {
 		float: left;
 		padding: 15px;
 		height: 271px;
 		@include span-columns(12);
 		background-color: $color-4;
 	}

 	h2 {
 		@include header-font;
 	}

 	p.post-date {
 		@include post-date;
 		float: left;
 		margin-right: 5px;
 	}

 	a.post-author, a.post-tags, a.post-comments {
 		@include post-link;
 		text-align: center;
	  	float: left;
	  	margin-right: 10px;
	  	padding-right: 10px;
 	}

 	a.post-comments {
 		border-right: none;
 	}

 	p.post-intro {
 		@include post-text;
 		clear: both;
 		padding-top: 10px;
 		max-height: 110px;
 	}

 	@include MQ(S) {
 		@include span-columns(12);
 		max-height: 575px;

 		h2, p.post-date {
 			font-size: 1.8rem;
 		}

 		.text-post-text {
 			max-height: 325px;
 			@include span-columns(12);
 			padding: 10px;
 		}

 		.text-post-title {
 			position: relative;
 			top: 5%;
 		}
		
	}

	@include MQ(M) {
 		.text-post-text {
 			max-height: 270px;
 			@include span-columns(12);
 		}

 		.post-text {
	 		max-height: 271px;
	 	}

 		.text-post-title {
 			position: relative;
 			top: 5%;
 			font-size: 1.7rem;
 			// line-height: 1.7rem;
 		}
		
	}

 	@include MQ(L) {
		max-height: 275px;
		@include span-columns(11);

		.post-text {
			@include span-columns(8);
			float: left;
	 		padding: 30px;
	 		height: 275px;
	 		background-color: #fff;
 			}

		 .text-post-text {
 			@include span-columns(4);
 			margin-right: 0px;
 			height: 275px;
			overflow-y: hidden;              /* "overflow" value must be different from "visible" */ 
			text-overflow:    ellipsis;
			padding: 20px;
			font-size: 2rem;
		}
 		
	}
}

.post-full {
 	float: left;
 	position: relative;
 	margin: 15px 0px;
 	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
	background-color: #fff;
	@include span-columns(12);
	@include shift(0);

 	.post-image {
 		float: left;
 		@include span-columns(12);
 		max-height: 420px;

 		img {
 			@include fill-parent;
 		}
 	}

 	.text-post-text {
 		float: left;
 		height: auto;
 		@include text-post-text;
 		@include span-columns(12);
 		padding: 15px;
 		background-color: $color-5;

 		.text-post-title {
 			position: relative;

 			img {
 				vertical-align: bottom;
 				padding: 10px;
 				margin-right: -20px;
 			}

 			img.rotate {
 				vertical-align: top;
 				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				margin-left: -20px;
				margin-right: 0px;
 			}
 		}
 	}

 	.post-text {
 		padding: 15px;
 		@include span-columns(12);
 		background-color: #fff;
 	}

 	h2 {
 		@include header-font;
 	}

 	h4 {
 		@include header-font;
 		color: #bfbfbf;
 	}

 	p.post-date {
 		@include post-date;
 		float: left;
 		margin-right: 5px;
 	}

 	a.post-author, a.post-tags, a.post-comments {
 		@include post-link;
 		text-align: center;
	  	float: left;
	  	margin-right: 10px;
	  	padding-right: 10px;
 	}

 	a.post-comments {
 		border-right: none;
 	}

 	p.post-text-content {
 		@include post-text;
 		clear: both;
 		padding-top: 10px;
 	}

 	p.about-author-text {
 		@include about-author-text;
 		color: #bfbfbf;
 		border: none;
 		float: left;
 		@include span-columns(10);
 	}

 	.post-tags-bottom {
 		@include post-link;
 		font-weight: bold;
 		border: none;
 		float: left;
 		margin: 20px 5px 20px 0px;
 	}

 	.list-tags-bottom {
 		margin: 20px 0px 20px 20px;
 		li{
 			@include post-link;
 			display: inline;
 			border: none;
 		}

 		li:after {
		  content: ", ";
		}

		li:last-child:after {
		  content: "";
		}
 	}

 	.button {
 		display: none;
 	}

 	@include MQ(S) {
 		@include span-columns(12);
		@include shift(0);
	}

	@include MQ(M) {
		@include span-columns(12);
		@include shift(1);
	}

 	@include MQ(L) {
 		@include span-columns(10);
		@include shift(1);
	}
}

.comments.author {
 	float: left;
 	position: relative;
 	margin: 5px 0px;
	@include span-columns(12);
	@include shift(0);
	padding: 0px 10px;

	p.author-text {
 		@include author-text;
 		clear: both;
 		padding-bottom: 0px;
 	}

 	textarea {
 		border: none;
 		border-radius: 4px;
 		background-color: #eeeeee;
 		padding: 10px;
 		@include span-columns(12);
 		resize: none;
 		height: 100px;
 		margin-bottom: 10px;
 	}

 	textarea:focus {
 		outline: none;
 		// background-color: #eeeeee;
 		-moz-box-shadow:    inset 0 0 4px #aaaaaa;
 		-webkit-box-shadow: inset 0 0 4px #aaaaaa;
 		box-shadow:         inset 0 0 4px #aaaaaa;
 		color: $color-1;
 	}

 	h2 {
 		margin-left: 0px;
 	}
 	h3 {
 		margin: 20px 0 0 0;
 	}

 	p.post-full-date {
 		display: none;
 	}

 	@include MQ(S) {
 		@include span-columns(12);
		@include shift(0);
	}

	@include MQ(M) {
		@include span-columns(12);
		@include shift(1);

		p.author-text {
	 		padding-bottom: 10px;
	 	}

	 	p.post-full-date {
 		@include post-link;
 		border: none;
 		color: #bfbfbf;
 		margin-bottom: 10px;
 		display: block;
 	}
	}

 	@include MQ(L) {
 		@include span-columns(10);
		@include shift(1);
	}
}